<!--
<ion-header>
  <ion-row class="title" justify-content-center>
    <h1>{{ workoutData.title }}</h1>
  </ion-row>
  <ion-row justify-content-center>
    <button ion-button round small color="light" (click)="beginWorkout()">Select Workout</button>
  </ion-row>
</ion-header> -->

<ion-header no-border>

</ion-header>

<ion-content no-padding fullscreen>

  <div class="header-image" [class.core-header]="core" [ngStyle]="{'background-image': 'url(assets/images/'+workoutData.image+')'}">
    <!-- <h1><ion-icon class="back" color="light" name="arrow-back" (click)="back()"></ion-icon></h1> -->
    <h1>{{ workoutData.title }}</h1>
    <!-- <ion-buttons>
      <button ion-button icon-only small round color="danger" (click)="back()">
        <ion-icon class="back" color="light" name="arrow-back" (click)="back()"></ion-icon>
      </button>
      <button ion-button round small color="light" (click)="workoutOptions()">Start Workout</button>
    </ion-buttons> -->
    <button ion-button round color="light" (click)="workoutOptions()">Start Workout</button>
  </div>

  <ion-grid fixed>
    <p [class.core]="core">{{ workoutData.description }}</p>

    <!-- <ion-list no-lines *ngIf="!core">
      <div *ngFor="let workout of workoutData.exercises">
        <h2 text-center [class.core]="core" text-wrap>{{ workout.name}}</h2>
        <img class="workout-img" item-left src="assets/images/exercises/{{ workout.image }}" />
      </div>
    </ion-list> -->

    <ion-row >
      <ion-col col-12 col-sm-6 col-md-4 *ngFor="let workout of workoutData.exercises">
        <ion-card>
          <h2 [class.core]="core" text-wrap>{{ workout.name}}</h2>
          <img class="workout-img" item-left src="assets/images/exercises/{{ workout.image }}" />
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
